In [3]:
#Here we are presented with a case whereby a bank wants to use data collected from its customers over several years 
#to predict which customers are likely to stop using the bank’s services by switching to a competing bank. 
#The rewards of such an analysis to the bank is profound as it can target dissatisfied customers with incentives 
#which would reduce the churn ratio helping the bank to grow its customer base and solidify its position.

#The dataset contains many informative attributes such as account balance, number of products subscribed to, credit card status,
#estimated customer salary etc. The target variable is whether or not the customer left the bank, 
#so this is a binary classification task. There are also some categorical features such as gender and geography 
#which we would need to transform before feeding them into a neural network.

# import all relevant libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf
import tflearn

# load the dataset
dataset = pd.read_csv('data\Churn_Modelling.xls')

# get first five rows (observations)
dataset.head()

#The dataset contains 14 columns, the first 3 columns are uninformative namely RowNumber, CustomerId and Surname. 
#Those three columns can be seen as identifiers as they do not provide any information which would give insights 
#to whether a customer would stay or leave. They would be removed before we perform analysis. 
#The last column - Exited is the class label which our model would learn to predict.

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
#The next step having gotten an overview of the dataset is to split the columns into features and labels. 
#We do this using Pandas slicing operation which selects information form specified indexes. 
#In our case, features start from the 3rd column and ends in the 12th column. Remember that array indexing starts at 0 not 1.
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

In [5]:
#Since we have categorical features in the dataset (Geography and Gender), we have to convert them into a form 
#that a deep learning algorithm can process. We do that using a one-hot representation. One-hot representation creates 
#a sparse matrix with zeros in all positions and a 1 at the position representing the category under evaluation. 
#We use Scikit-Learn’s preprocessing model to first create a label encoder, then create a one-hot representation from it.

# encoding categorical data

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])

labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])

onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
X = X[:, 1:]

In [6]:
#We split our data into training and test set. One would be used to train the model while the other would be use to test performance.

# spliting the dataset into the training set and test set

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

y_train = np.reshape(y_train, (-1, 1)) # reshape y_train to [None, 1]

y_test = np.reshape(y_test, (-1, 1)) # reshape y_test to [None, 1]

In [7]:
#The features as currently contained in X are not in the same scale so we apply standard scaling which makes 
#all features to have a mean of 0 and a standard deviation of 1.

# feature scaling

from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

X_train = sc.fit_transform(X_train)

X_test = sc.transform(X_test)

In [8]:
#We start creating a deep neural network by describing it using TFLearn API.

# build the neural network

#The network has 11 input features and there are 3 fully connected layers. 
#We also use dropout as the regularizer in order to prevent the model from overfitting.

net = tflearn.input_data(shape=[None, 11])

net = tflearn.fully_connected(net, 6, activation='relu')

net = tflearn.dropout(net, 0.5)

net = tflearn.fully_connected(net, 6, activation='relu')

net = tflearn.dropout(net, 0.5)

net = tflearn.fully_connected(net, 1, activation='tanh')

net = tflearn.regression(net)

WARNING:tensorflow:From C:\Users\RUIZ\Anaconda3\lib\site-packages\tflearn\objectives.py:66: calling reduce_sum (from tensorflow.python.ops.math_ops) with keep_dims is deprecated and will be removed in a future version.
Instructions for updating:
keep_dims is deprecated, use keepdims instead

In [9]:
#Next we define the model using DNN from TFLearn.

# define model

model = tflearn.DNN(net)

# we start training by applying gradient descent algorithm

model.fit(X_train, y_train, n_epoch=10, batch_size=16, validation_set=(X_test, y_test),
          show_metric=True, run_id="dense_model")

#Formamos el modelo para 10 épocas (n_epoch) con un tamaño de lote de 16 (batch_size). 
#El modelo alcanza una precisión de 0.7975 en el conjunto de prueba que usamos para validar el rendimiento del modelo.

Training Step: 4999  | total loss: nan | time: 3.475s
| Adam | epoch: 010 | loss: nan - binary_acc: 0.8089 -- iter: 7984/8000
Training Step: 5000  | total loss: nan | time: 4.568s
| Adam | epoch: 010 | loss: nan - binary_acc: 0.8093 | val_loss: nan - val_acc: 0.7975 -- iter: 8000/8000
--