In [1]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south   carolina##', 'West virginia?']

In [2]:
import re

In [3]:
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [4]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [5]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

In [6]:
clean_ops = [str.strip, remove_punctuation, str.title]

In [7]:
def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [8]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [9]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [10]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

In [11]:
ints = [4, 0, 1, 5, 6]

In [12]:
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [13]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [14]:
strings.sort(key=lambda x: len(set(list(x)))) #Ordenar una colección de strings por el número de distintas letras

In [15]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [16]:
some_dict = {'a': 1, 'b': 2, 'c': 3}

In [17]:
for key in some_dict:
    print(key)

a
b
c

In [18]:
dict_iterator = iter(some_dict)

In [20]:
dict_iterator

In [21]:
list(dict_iterator)

['a', 'b', 'c']

In [22]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [23]:
gen = squares()

In [24]:
gen

In [25]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [26]:
gen = (x ** 2 for x in range(100))

In [27]:
gen

In [28]:
def _make_gen():
    for x in range(100):
        yield x ** 2

In [29]:
gen = _make_gen()

In [30]:
gen

In [31]:
sum(x ** 2 for x in range(100))

328350

In [32]:
dict((i, i **2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [33]:
import itertools

In [34]:
first_letter = lambda x: x[0]

In [35]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [36]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [37]:
float('1.2345')

1.2345

In [38]:
float('something')

ValueError: could not convert string to float: 'something'

In [39]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [40]:
attempt_float('1.2345')

1.2345

In [41]:
attempt_float('something')

'something'

In [42]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [43]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [44]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [45]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [46]:
#f = open(path, 'w')
#try:
#    write_to_file(f)
#except:
#    print('Failed')
#else:
#    print('Succeeded')
#finally:
#    f.close()

NameError: name 'path' is not defined